<h3></h3>
<table class="code">
  <tr class="filename"><td colspan="3"><%= h diff.a_path %></td></tr>
  <%= Diff::Display::Unified.new(diff.diff).render(Diff::Renderer::InlineTableCallback.new) %>
</table>

