<table class="code">
  <tr class="filename"><td colspan="13"><%= h diff.a_path %></td></tr>
  <%= Diff::Display::Unified.new(diff.diff).render(Diff::Renderer::InlineTableCallback.with_comments(diff.comments, self)) %>
</table>

