.DS_Store
log/*
tmp/**/*
tmp
config/database.yml
config/*.sphinx.conf
db/sphinx/*
db/*.sqlite3
*.sw[op]
public/stylesheets/*
public/javascripts/public_widget.js
tags
coverage
cucumber-code-coverage
doc
rerun.txt
public/*/cache/*
public/javascripts/all.js
