<div id="header" class="span-12">
  <h1>Laizen</h1><em>Read and review code.</em>
</div>
<div id="account" class="span-12 last">
  <% if current_user %>
    <img src="<%= current_user.gravatar(:small) -%>" />
    <%= current_user.name %>
    <%= link_to 'Sign Out', sign_out_url %>
  <% else %>
    <%= link_to 'Sign In', sign_in_url %>
  <% end %>
</div>
<div class="clearall"></div>
<div class="bump20"></div>
